<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/navbar.html :: header( title = 'Telecom 2024')}"></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/navbar.html}"></nav>
    <h2>Inventario de Dispositivos</h2>
    <a class="btn btn-primary mt-4 mb-4" th:if="${usuario.id_roles.nombre == 'Admin'}" th:href="@{'/dispositivos/new'}">Agregar Dispositivo</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Disponibles</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dispositivo, info : ${listaDispositivos}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${dispositivo.nombre} + ' ' +${employee.lastname}"></td>
            <td th:text="${dispositivo.cantidad}"></td>
            <td th:text="${dispositivo.stock}"></td>
            <td><a class="btn btn-primary" th:if="${usuario.id_roles.nombre == 'Admin'}" th:href="@{'/dispositivos/edit' + '?id=' + ${dispositivo.id}}">Editar</a>
            <a class="btn btn-danger" th:if="${usuario.id_roles.nombre == 'Admin'}" th:href="@{'/dispositivos/delete' + '?id=' + ${dispositivo.id}}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>